.footer{
	h6{
		text-transform: uppercase;
		letter-spacing: 1px;
		color: black;
		font-weight: 600;
	}
	ul{
		li{
			padding: 5px 0px;
			a{
				text-decoration: none;
				color:#3b4952;
				letter-spacing: 1px;
				font-weight: 500;
			}
		}
	}

	.social{
		ul{
			li{
				display: inline-block;
				font-size: 35px;
				margin-right: 15px;
			}
		}
	}
}