@media screen and (max-width: 426px){
	header{
		.header-top{
			display: block;
			div{
				span{
					display: none;
				}
				.search{
					display: none;
				}				
				.estilo1{
					display: none;
				}
			}
		}
		.navbar-header{
			display: inline;
			ul{
				li{
					display: inline-block;
					color:#374051;
					font-size: 30px;
				}
			}
		}
	}
	.carousel-caption{
		display: none;
	}	
	.autumn-styles{
		display: block;
		p{
			padding: 20px;
			margin:0px;
		}
		h3{
			margin:0px;
			@include fuente("pt serif", sans-serif);
		}
	}
	.feature{
		display: block;
		.moda{
			width: 100%;
			height: initial;
		}
		.moda-right{
			width: 100%;
			height: initial;
		}
	}
	.left-nav{
		display: none;
	}	
	.featured-products{
		.sunwear{
			padding: 0px;
			height: 100%;
			h5{
				margin: 0px;
			}
			p{
				padding: 10px;
				margin: 0px;
			}
		}
	}	
	.collection-list{
		display: block;
		.collection{
			width: 100%;
			height: 50vh;
		}
		.collection-bottom{
			width: 100%;
			height:35vh;
			padding: 50px;
		}
		p,h5{
			letter-spacing: 1px;
		}
	}
	.shop-mobile{
		display:block;
		p{
			padding:20px;
		}
		ul{
			li{
				padding: 10px;
			}
		}
	}
	.footer{
		text-align: center;
		h6{
			padding: 20px;
		}
		ul{
			li{
				padding: 10px;
			}
		}
		.social{
			ul{
				li{
					margin: 0px;
					padding: 5px;
				}
			}
		}
	}
}